/* ===================== ADM SCREEN ============== */

:root{
    --color-Primary: #e71212d2;
    --color-Danger: #ad2732;
    --color-Sucess: #e24e4e;
    --color-Warning: #ffbb55;
    --color-White: #fff;
    --color-Info-Dark: #7d8da1;
    --color-Info-Light: #dce1eb;
    --color-Dark: #363949;
    --color-Light: rgba(132, 139, 200, 0.336);
    --color-Primary-Variant: #111e88;
    --color-Dark-Variant: #677483;
    --color-Background: #f6f6f6;

    --card-Border-Radius: 2rem;
    --border-Radius-1: 0.4rem;
    --border-Radius-2: 0.8rem;
    --border-Radius-3: 1.2rem;

    --card-Padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-Shadow: 0 2rem 3rem var(--color-Light);
}
.dark-theme {
    --color-Background: #181a1e;
    --color-White: #202328;
    --color-Dark: #edeffd;
    --color-Dark-Variant: #a3bdcc;
    --color-Light: rgba(0,0,0,0.4);
    --box-Shadow: 0 2rem 3rem var(--color-Light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: var(--color-Background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-Dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-Dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-Info-Dark);
}
p {
    color: var(--color-Dark-Variant);
}
b {
    color: var(--color-Dark);
}

.primary {
    color: var(--color-Primary);
}
.danger {
    color: var(--color-Danger);
}
.success {
    color: var(--color-Sucess);
}
.warning {
    color: var(--color-Warning);
}

/* ===================== GRAPHIC ============== */
main{
    margin-top: 70%;
}

/* ===================== ORDER ============== */

main .recent-order {
    margin-top: 2rem;
}
main .recent-order h2{
    margin-bottom: 0.8rem;
}
main .recent-order table{
    background: var(--color-White);
    width: 70vw;
    border-radius: var(--card-Border-Radius);
    padding: var(--card-Padding);
    text-align: center;
    box-shadow: var(--box-Shadow);
    transition: all 300ms ease;
}
main .recent-order table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-Light);
    color: var(--color-Dark-Variant);
}
main .recent-order a{
	background: var(--color-Primary);
	border-radius: var(--border-Radius-2);
    text-align: center;
	font-size: 1.5rem;
	padding: 10px 10px;
    display: block;
    margin: 1rem auto;
    color: var(--color-White);
}
main .recent-order a:hover{
	transition: all ease 1s;
	background: #ad2732;
}
/* ===================== END-ORDER ============== */

/* ===================== MEDIA-QUERIES-TABLETS(GRANDES)-LAPTOPS(PEQUENOS) ============== */

@media screen and (max-width: 1220px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 3.5rem;
    }
    aside .sidebar a:hover{
        width: 5.5rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
    aside .logo img {
        margin-left: -1rem;
        width: 9.5rem;
        height: 4.5rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-order table{
        width: 83vw;
    }
    main table thead tr th:first-child,
    main table thead tr th:last-child{
        display: none;
    }
    main table tbody tr td:first-child,
    main table tbody tr td:last-child{
        display: none;
    }
}
/* ===================== MEDIA-QUERIES-TABLETS(PEQUENOS)-CELULARES ============== */
@media screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-White);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-Light);
        height: 100vh;
        padding-right: var(--card-Padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }
    @keyframes showMenu {
        to {
            left: 0;
        }
    }
    aside .logo{
        margin-left: 1rem;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 3rem;
    }
    aside .sidebar a:hover{
        width: 100%;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 1rem;
    }
    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 3rem;
    }
    main .recent-order{
        position: relative;
        margin: 3rem 0 0 0 ;
        width: 100%;
    }
    main .recent-ordertable{
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }
    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-White);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-Light);
    }
    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .right .profile .info {
        display: none;
    }
    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-Dark);
        position: absolute;
        left: 1rem;
    }
    .right .top button span{
        font-size: 2rem;
    }

}



